.swal-text {
    background-color: rgba(255, 147, 147, 0.493);
    padding: 17px;
    display: block;
    margin: 22px;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    box-shadow: 0 0 5px rgb(168, 168, 168);
    color: rgb(122, 0, 0);
  }
  
  .swal-button {
    background-color: #7db59a;
  }